<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Google Maps Example</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Google Maps Example</title>
    <script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: {{api_key}}"
    </script>
    <script src="{{ url_for( 'static', filename='main.js') }}"></script>

</head>

<body style="margin: 0">
<header id="header">
    <h1><span class="click-effect">CLICK</span><span class="middle">4</span><span class="coordinates">COORD NATES</span></h1>
</header>
<div id="map"></div>
<div id="data-box">
    <h2 style="font-family: 'Courier New';">Coordinates</h2>
    <label for="latitude">Latitude:</label>
    <input id="latitude" type="text">
    <label for="longitude">Longitude:</label>
    <input id="longitude" type="text">

    <div id="result-box">
        <h2 style="font-family: 'Courier New', monospace;">Conversion</h2>
        <div id="conversion-box">
            <select id="epsg">
                {% for item in epsg_list %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <button id='convert-btn' onclick="convert()">Convert</button>
        </div>
        <label for="Latitude">Result 1:</label>
        <input id="result1" type="text">
        <label for="Longitude">Result 2:</label>
        <input id="result2" type="text">
    </div>

    <button id="copy-btn" onclick="copyToClipboard()">Copy to clipboard</button>

</div>

<footer id="footer">
    <p>WITH PROJ.</p>
</footer>

</body>
</html>



